# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/
.env/
ENV/

# VS Code
.vscode/

# Model
# models/